.filter__list {
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
    gap: 8px;
}

.filter__button {
    padding: 6px 25px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
    border-style: none;
    border-radius: 4px;
    background: var(--button-background-color);
    transition:
        color var(--anim-fast),
        background-color var(--anim-fast),
        box-shadow var(--anim-fast);


  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
}