 .header {
     border-bottom: 1px solid #ECECEC;
 }


 .header__container {
     display: flex;
     align-items: center;
 }

 .navigation {
     display: flex;
     align-items: center;
 }

 .logo {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.2;
     letter-spacing: 0.03em;
     color: var(--accent-text-color);
 }

 .logo__black {
     color: var(--primary-text-color);
 }

 .menu {
     display: flex;
     margin-left: 93px;
 }

 .menu__item+.menu__item {
     margin-left: 50px;
 }

 .menu__link {
     display: block;
     padding-top: 32px;
     padding-bottom: 32px;

     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: var(--title-text-color);

     transition: color var(--anim-fast);


 &:hover,
 &:focus {
     color: var(--accent-text-color);
 }
  }

 .menu-link__current {
     position: relative;
     color: var(--accent-text-color);


  &::after {
     content: '';
     left: 0;
     bottom: -1px;
     position: absolute;
     display: block;
     width: 100%;
     height: 4px;
     border-radius: 4px;
     background: var(--accent-text-color);
 }
  }



 .current {
     color: var(--accent-text-color);
 }

 .color:visited::after {
     color: var(--accent-text-color);
 }

 .contacts {
     display: flex;
     margin-left: auto;
 

 &__item+ &__item {
     margin-left: 50px;
 }
 }

 .contacts__link {
     padding-top: 32px;
     padding-bottom: 32px;

     display: inline-flex;
     align-items: center;

     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     cursor: pointer;
     color: var(--primary-gray-color);
     transition: color var(--anim-fast);
 


  &:hover .contacts__icon,
  &:focus .contacts__icon {
     fill: var(--accent-text-color);
 }

  &:hover,
  &:focus {
     color: var(--accent-text-color);
 }
 }

 .contacts__icon {
     margin-right: 10px;
     fill: var(--primary-gray-color);
 }