.hero {
    background-color: var(--background-color);
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/bg-img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.hero__button {
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 217px;
    min-height: 50px;
    padding: 10px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    transition: background-color var(--anim-fast);


&:hover {
    background-color: var(--dark-text-accent-color);
}
}